<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :brand %><br>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div><br>

  <div class="field product_type">
    <%= form.label :type_name ,'Type' %>
    <%= form.select :type_name, options_for_select(%w[whiskey bourbon scotch])%>
  </div>



  <div class="field">
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>
  <div class="field">
    <%= form.label :more_info %><br>
    <%= form.text_area :more_info %>
  </div>

  <div class="field">
    <%= form.label :abv %>
    <%= form.text_field :abv %>
  </div>
  <div class="field">
    <%= form.label :image %><br>
    <%= form.file_field :image %><br>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
