<!DOCTYPE html>
<html>
  <head>
    <title>Whiskey</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <%= render 'layouts/nav' %>
    <h1 class="site">The Whiskey Man</h1>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
